.fooh-personal-info-addr{
    width: 100%;

    &__personal{
        padding: 16px;
        border-top: 2px solid #fea72d;
        border-radius: 5px;
        background-color: #e8e8e8;
        margin: 24px 0px;
        &-head{
            font-size: 20px;
            font-weight: 600;
            margin: 0 0 16px 0;
        }

        &_addr{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -4px;

            &-item{
                padding: 0;
                width: calc(33.33% - 8px);
                margin: 0 4px;

                &--center{
                    padding: 0 4px;
                    border-right: 1px solid #000;
                    border-left: 1px solid #000;
                }
            }
            
            &-text{
                font-size: 14px;
                font-weight: 400;
                margin: 0;
            }

            &-link{
                text-decoration: none;
                color: inherit;
                font-weight: 600;

                &:hover{
                    font-weight: 600;
                }
            }
        }
    }

    &__add-adrs-sec{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__sec-head{
        font-size: 20px;
        font-weight: 700;
    }

    &__tile-cnt-selected{
        opacity: 0.5;
    }

    &__tile-head{
        display: flex   ;
        
        &-text{
            font-weight: 700;
            font-size: 18px;
            margin: 0;
            opacity: 0.5;
        }

        &-logo{
            margin-right: 4px;
            margin-left: -8px;
            width: 23px;
            height: 23px;
            display: flex;
            svg{
                width: 100%;
            }
        }
    }

    .fooh-reg__checkbox-outer{
        margin-bottom: 8px;
    }

    &__tile-svgs{
        display: flex;
        .fooh-delivery-adrs-card__edit{
            margin: 0 4px;
        }
    }

    .fooh-adrs-grids{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
    }

    .fooh-delivery-adrs-card__head{
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }
    .fooh-delivery-adrs-card__set--0::after{
        bottom: 0px;
        margin-left: auto;
    }
    .fooh-delivery-adrs-card__set--0{
        margin-left: auto;
    }
}

@include mobile{
    .fooh-personal-info-addr{

        &__add-adrs-sec{
            margin-top: 16px;
        }

        &__personal{
            margin: 16px 0 0 0;
                &_addr{
                flex-direction: column;
                align-items: flex-start;

                &-item{

                    &--center{
                        padding: 10px 0;
                        border: none;
                    }
                }
            }
        }

        .fooh-adrs-grids{
            flex-direction: column;
        }


    }
}