#ctl30_pcNewsletterAlert_PW-1,#ctl26_pcCartNotification_PW-1{
    padding: 35px 20px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    width: 767px !important;
    .dxpc-header{
        background: $color-white;
        .dxpc-closeBtn{
            position: absolute;
            right: 20px;
            top: 24px;
        }
    }
    .dxpc-contentWrapper{
        min-height: 150px;
    }
}
.dxpcModalBackLite_Moderno{
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
    opacity: 1;
}

#divLogin .fooh-lng-inner{
    background-color: #e8e8e8;
    height: 471px;
    padding: 20px 20px 25px;
}

@media (max-width: 767px){
    #ctl30_pcNewsletterAlert_PW-1,#ctl26_pcCartNotification_PW-1{
        padding: 35px 5px;
        width: 100% !important;
    }
}