body.fooh{
    padding-right: 0 !important;
}

#ctl30_pcNewsletterAlert_PW-1,#ctl26_pcCartNotification_PW-1{
    padding: 35px 20px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    width: 767px !important;
    .dxpc-header{
        background: $color-white;
        .dxpc-closeBtn{
            position: absolute;
            right: 20px;
            top: 24px;
        }
    }
    .dxpc-contentWrapper{
        min-height: 150px;
    }
}

.dxpcModalBackLite_Moderno{
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
    opacity: 1;
}

#divLogin .fooh-lng-inner{
    background-color: #e8e8e8;
    height: 471px;
    padding: 20px 20px 25px;
}
.fooh-myorders-table{
    .dxgvControl_Material {
        background-color: #efefef !important;
        padding: 32px !important;
        border-radius: 5px !important;
        border-top-width: 5px !important;
        border: 0px solid #fea72d;

        .dxgvTable_Material{
            border-color:#000 !important;
            box-shadow: none !important;
            background-color: #efefef !important;
            border-radius: 0 !important;
            .dxgvHeader_Material,
            .dxgvDataRow_Material td.dxgv,
            .dxgvDetailRow_Material td.dxgv,
            .dxgvDetailRow_Material td.dxgvIndentCell{
                border-color:#000 !important;
                background-color: #efefef !important;
            }
            .dxgvHeader_Material{
                &:first-of-type{
                    border-right-width: 0 !important;
                }
            }
        }
        .dxgvDetailCell_Material{
            border-color:#000 !important;
            .dxgvControl_Material{
                border-top-width: 0px !important;
                padding: 0 !important;
                .dxgvHeader_Material{
                    font-weight: normal !important;
                    td{
                        font-weight: normal !important;
                    }
                    &:first-of-type{
                        border-right-width: 1px !important;
                    }
                }
            }
        }
        .dxgv.dx-ac.dxgRRB{
            a{
                padding: 5px;
                background-color: #fea72d;
                color: #000;
                border-radius: 5px;
                &:hover{
                    background: #ffce00;
                    text-decoration: none !important;
                }
            }
        }
        td{
            text-align: left;
            color: #000 !important;
        }
        .dxgvPagerBottomPanel_Material{
            background-color: #efefef !important;
            border: 0 !important;
            box-shadow: none !important;
            .dxpLite_Material .dxp-current{
                background-color: #fea72d;
            }
        }
        .dxgvLoadingPanel_Material .dxlp-loadingImage{
            border: 4px solid #fea72d;
            border-top: 4px solid #EEE; 
        }
    }
}

@media (max-width: 767px){
    .fooh-myorders-table{
        .dxgvControl_Material {
            padding: 24px 8px !important;
        }
    } 
    // .fooh-dlt-fc-pop{
    //     width: 90% !important;
    //     left: 50% !important;
    //     transform: translate(-50%) !important;
    // }
}

.fooh-product-unavail{
    font-size: 14px;
    margin-bottom: 5px;
    color: red;
    display: block;
}

#ctl27_popConfirm_PW-1{
    border-top: 3px solid #ffce00;
    border-radius: 5px;
    overflow: hidden;
    z-index: 8;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.34);
    // left: 50%;
    // top: 50%;
    // transform: translateX(-50%, -50%);
    .dxpc-mainDiv.dxpc-shadow{
        border: none;
    }
    .dxpc-content{
        font-size: 16px;
        font-weight: 600;
    }
    .dxpc-header.dxpc-withBtn{
        font-weight: 600;
        background: none;
    }
}

@media (max-width: 767px){
    #ctl27_popConfirm_PW-1{
        width: 90% !important;
        left: 50% !important;
        transform: translate(-50%) !important;
    }
}

.fooh-input__input-txt {
    select, .form-control.dropdown {
        font-size: 16px !important;
        border: 1px solid $black;
        padding: 8px 12px !important;
        &:focus{
            border: 1px solid $black;
        }
    } 
}

.fooh-table-clr{
    display: flex;
    clear: both;
    justify-content: space-between;
}
.hover .alignb{
    &--empty{
        bottom: 68px;
    }
}
.px-20{
    padding-right: 20px;
    padding-left: 20px;
}

.px-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (min-width: 768px){
    #ctl27_divCopmanyDataLit .dl-horizontal dd {
        margin-left: 250px;
    }
}
#fooh_sellercover{
    height: 325px;
    width: 100%;
    #ctl28_imgCoverPhoto{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}
.fooh-profile__tabs li a{
    font-size: 15px !important;
    padding: 10px 15px;
    &:hover{
        padding: 10px 15px;
    }
}
@media (max-width: 767px){    
    .JoinUs-Wrap {
        width: auto;
    }
    .products .price .btn-grey {
        margin-bottom: 8px;
        text-align: center;
    }
}
@media (max-width: 620px){
    .header-scroll .header .logo{
        display: none;
    }
}
.fooh-footer__paygt-logo{
    width: 140px;
    height: auto;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.side-adv-banner{
    margin-bottom: 10px;
}

.tab-content.myacc{
    .collapse.navbar-collapse{
        display: block !important;
    }
}

@media (max-width: 767px){
    .fh-supplier__pref-type,
    .fh-supplier__bsns-type,
    .fh-supplier__pref-country{
        table{
            table-layout: fixed;
        }
        td{
            display: flex;
            margin-right: 4px;
        }
    }
}

.myacc .btn-yellow{
    width: auto !important;
}

.joincta{
    display: none !important;
}

#divLogOut{
    display: none !important;
}

#divLogin{
    margin-top: -45px;
    padding: 5px 10px 5px 10px;
}

.header-scroll .padr0{
    padding-right: 0;
}

.registration .form-control{
    font-size: 14px !important;
}

.browsecat .catbox{
    padding-right: 16px;
}

.fh-welcome-user{
    padding-left: 24px;
}

.fooh__select--footer select option{
   color: rgb(255, 255, 255);
}

#ctl30_pcNewsletterAlert_PW-1.dxpcLite_Moderno{
    padding: 35px 20px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    width: 767px !important;
    .dxpc-header{
        background: $color-white;
        .dxpc-closeBtn{
            position: absolute;
            right: 20px;
            top: unset;
        }
        .dxcp-closeBtnHover{
            background: none !important;
        }
    }
    .dxpc-closeBtn{
        background: none !important;
        border: none !important;
    }
    .dxpc-contentWrapper{
        min-height: 150px;
    }
}

label.fooh-input__label{
    margin-bottom: 0;
}

.fooh [class^="dxeBase"] label{
    font-size: 12px;
}

.home-section .sec-head h2{
    margin: 16px 0 !important;
} 

.products .name span{
    overflow:hidden;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}

.fooh-reg input[type='submit'].fooh-primary-btn{
    border: none;
    min-width: 150px;
    font-size: .938em;
    font-weight: 400;
    background-color: hsl(35, 99%, 59%);
    padding: 9px 20px;
    &:hover{
        background-color: hsl(48, 100%, 50%);
    }
}

.header-scroll .header{
    padding-top: 10px;
}

.sort > ul > li{
    padding: 0;
    margin: 8px 8px 8px 0;
}

.footer-nav .dropdown.open{
    padding-bottom: 56px;
}

.fooh-profile__selectdob{
    .dxeButtonEdit_Moderno td.dxic{
        padding: 0 !important;
        input[type="text"]{
            margin: 0 !important;
        }
    }
}

.footer-nav  .nav.navbar-nav{
    .dropdown .caret{
        border-top: 4px dashed;
        border-right: 3.5px solid transparent;
        border-left: 3.5px solid transparent;
    }
}

.cart-item {
    .cart-buttons {
        .btn-grey{
            min-width: 150px;
        }
    }
} 

#updateMain .modal-content-login{
    background-size: 185px;
    .fh-forgotpwd{
        text-underline-offset: 3px;
        text-decoration: underline;
    }
}

.products .box{
    position: relative;
    .dxWeb_edtCheckBoxUnchecked_Moderno{
        border: 1px solid hsl(0, 0%, 80%) !important;
        margin-top: 4px !important;
        background-image: none !important;
    }
    .dxWeb_edtCheckBoxChecked_Moderno{
        border: 1px solid hsl(0, 0%, 80%) !important;
        margin-top: 4px !important;
        background-image: none !important;
        position: relative !important;
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -63%) rotate(45deg);
            border-right: 2px solid hsl(48, 100%, 50%);
            border-bottom: 2px solid hsl(48, 100%, 50%);
            height: 13px;
            width: 6px;
        }
    }
    &::after{
        content: "";
        position: absolute;
        right: 16px;
        bottom: 0;
        left: 16px;
        border: 1px dotted hsl(0, 0%, 80%);

    }
    .name p{
        min-height: auto;
        max-height: 100%;
    }
    .price{
        min-height: auto;
    }
    .border{
        display: none;
    }

}

.fooh-prdt-addcart-pop{
    border: none;
    box-shadow: none;
    border-top: 3px solid $yellow !important;
    border-radius: 5px ;
    .dxpc-header{
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: $black;
        background: $white;
    }
    .dxpc-closeBtn{
        &:hover{
            background: $yellow;
            border: none;
        }
    }
    &__inpwrap{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .top{
            display: flex;
            align-items: center;
        }
        .wraplabel{
            white-space: nowrap;
            margin-right: $spacer-2;
        }
    }
    #ctl26_popAddtoCart_RequiredFieldValidator1{
        display: block;
        margin-bottom: $spacer-2;
    }
    .input-quantity{
        flex: 1;
        border: 1px solid hsl(0, 0%, 80%);
        padding: $spacer-2;
        margin-top: $spacer-2;
    }
    &__actions{
        display: flex;
        margin: 0 -4px;
        input[type="submit"]{
            width: calc(50% - 8px);
            padding: $spacer-2;
            margin: 0 4px;
            margin-bottom: $spacer-3;
        }
    }
} 

.rating {
    text-align: left;
    font-size: 16px;
    width: auto;
    margin-top: 16px;
}

.nameWrap{
    font-size: 14px;
    line-height: 1;
    min-height: 43px;
    max-height: 43px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin: 8px 0;
}

.products .box .radius{
    margin: 0;
}

.supplier-data.nav-tabs{
    overflow-x: auto;
    & li > a, 
    & li > a:hover{
        padding: 8px;
    }
}

.cart-item.thanks{
    margin-top: 8px;
}

.product-info .chat li#online span{
    margin-right: 4px;
}

.fh-supplier__pref-type,
.fh-supplier__bsns-type,
.fh-supplier__pref-country{
    table td{
        padding-right: 16px;
    }
}

.dxmLite_Moderno .dxmtb.dxm-horizontal .dxm-hovered{
    #ctl27_txtDescription_TD_T0_ITTCNT2_forecolor_CD{
        display: none !important;
    }
}

.notify .open a{
    font-weight: 600 !important;
}

.dxgvDataRow_Material td.dxgvAIC{
    a.dxbButton_Material{
        &::before{
            content: none !important;
        }
    }
}

.dxgvControl_Material .dxgvADSB > img{
    margin-top: auto !important;
}

.notify .notify-list .title{
    float: none !important;
    margin-top: 0 !important;
}

.cart-item h2 a{
    font-weight: 600;
}

.edit{
    display: inline-flex !important;
    align-items: center !important;
    font-size: 12px !important;
    line-height: 1 !important;
}

.edit-outer:hover .edit{
    display: inline-flex !important;
}

.sort .pagination li{
    float: none !important;
    clear: both;

    a{
        font-size: 1em;
        padding: 0 10px;
        &:hover {
            font-size: 1em;
            padding: 0 10px;
        }
    }
}

.chat-history{
    border: none;
    textarea{
        direction: ltr;
    }
}

.fh-searchProductsGrid{
    display: flex !important;
    flex-wrap: wrap;
    .box .name p{
        min-height: auto !important;
        max-height: 100% !important;
    }
}

.fh-myOrders__viewOrder{
    border-radius: 5px;
    background-color: hsl(35, 99%, 59%) !important;
    color: hsl(0, 0%, 0%) !important;
    padding: 5px;
}

#uploadControl{
    margin-top: 0 !important;
}

.footer .socialmedia {
    & > ul{
        display: flex;
        justify-content: flex-end;
        margin: 8px -4px;
        li{
            margin: 0 4px;
        }
    }
}

.footer .quick-links{
    list-style: none;
    padding-left: 0;
    & > li{
        display: inline-block;
    }
    .list-inline{
        display: block;
    }
}

.notify div > a > span{
    height: 32px !important;
    width: 32px !important;

    &.sp-inquiries {
        background-position: -60px 2px !important;
    }
    &.sp-cart {
        background-position: 0px -138px !important;
    }
    &.sp-tradeleads {
        background-position: 0px -1px !important;
    }
    &.sp-wishlist {
        background-position: -217px -138px !important;
    }
}

.banner-side .login-links.forgotpass{
    font-weight: 500;
}

.fh-availability{
    font-size: 12px !important;
    font-weight: 300;

    label.dx-wrap{
        &:hover{
            cursor: pointer;
            text-underline-offset: 2px;
            text-decoration: underline;
        }
    }
}

.fh-halalstatus{
    font-size: 12px !important;
    font-weight: 300;
    label{
        &:hover{
            cursor: pointer;
            text-underline-offset: 2px;
            text-decoration: underline;
        }
    }
}

.features{
    .row {
        div{
            font-size: .75em;
        }
        .dl-horizontal dt{
            text-overflow: initial;
        }
    } 
}

.header .categories {
    .caret{
        display: none;
    }
}

.products .box{
    input[type="submit"]{
        font-size: 10px;
    }
}

.filter-dropdown{
    li a{
        text-align: center;
    }
}

#ctl27_divSupplierTopF{
    li .dxWeb_edtCheckBoxUnchecked_Moderno{
        background-image: url('/DXR.axd?r=0_2775-VNRap');
    }
    li .dxWeb_edtCheckBoxChecked_Moderno{
        background-image: url('/DXR.axd?r=0_2775-VNRap');
    }
}

.products .cart-item{
    .dxWeb_edtCheckBoxUnchecked_Moderno{
        background-image: url('/DXR.axd?r=0_2775-VNRap');
    }
    .dxWeb_edtCheckBoxChecked_Moderno{
        background-image: url('/DXR.axd?r=0_2775-VNRap');
    }
}

.dxhe-iframe-wrapper{
    border-bottom: .5px solid rgb(209, 209, 209);
}

.sort.inbox{
    li .dxWeb_edtCheckBoxUnchecked_Moderno{
        background-image: url('/DXR.axd?r=0_2775-VNRap');
    }
    li .dxWeb_edtCheckBoxChecked_Moderno{
        background-image: url('/DXR.axd?r=0_2775-VNRap');
    }
}

.home-section.brdrt{
    padding-top: 0;
    border-top: 0;
}

.fooh-myorders-table{
    .dxgvControl_Material{
        td img{
            float: none;
        }
    }
}

.pagination {
    li{
        margin-top: 12px;
        display: inline-block;
        span{
            background-color: transparent;
        }
    }
} 

.header .dropdown-menu ul{
    overflow-y: auto;
}

.categories .dropdown-menu{
    z-index: 9999;
}

.footer .search a{
    z-index: 2;
}

#products-wrapper{
    .dl-horizontal {
        dt{
            padding: 0 0 4px 0;
        }
        dd{
            padding: 0 0 16px 0;
        }
    }
    &.content:not(.list){
        .products{
            .box{
                &:hover .hover{
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    align-items: flex-end;
                }
                .hover {
                    .alignb{
                        position: static;
                        a{
                            border-top: none;
                            padding-top: 0;
                        }
                    }
                }
                p:not([class]) {
                    position: static;
                }
                .price{
                    .price-show{
                        display: none;
                    }
                }
            }
        }
    }
    &.content{
        .products{
            .box{
                &:hover .hover{
                    display: none;
                }
                .price{
                    float: right;
                    padding: 0;
                    width: calc(78% - 16px);
                    margin: 4px 0;

                    .price-show{
                        display: block;
                    }
                }
            }
        }
    }
}

.userlogin.activated{
    background-image: none;
    display: flex;
}

#ctl27_divAccountActive{
    margin: 0 auto;
}

#ctl28_Web_ProfileTradeFinancing_GridFinancing{
    .dxgvEditForm_Moderno > td.dxgv {
        padding: 0;
    }
    #ctl28_Web_ProfileTradeFinancing_GridFinancing_DXEFL_DXEditor1_EC{
        display: none;
    }
}
// cai
#ctl27_divTradeLead{
    .tradelead-text{
        label{
            margin-top: 5px;
        }
    }
}

.response-tradelead{
    width: 100%;
    font-size: 12px;
    margin-bottom: 4px;
}

#ctl31_pcNewsletterAlert_PW-1{
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 90% !important;
    max-width: 300px !important;
}

.myacc {
    #ctl28_divCompanyLicencelit{
        .profilepic {
            width: 100%;
            img{
                width: 210px;
            }
            .change.edit{
                right: 0;
            }
        }
    }
}

@media (max-width: 991px) {
    .inquiry{
        padding: 10px 10px 0;
    }
}

@media (max-width: 767px){
    #header.header-scroll{
        margin-bottom: 60px;
    }
    .header .categories {
        top: 110px;
    }
    .header-scroll .header .search-wrap .search-scroll-wrap{
        width: auto;
    }
    .JoinUs-Wrap{
        display: none !important;
    }    
    .products .price .btn-yellow{
        font-size: 14px;
        padding: 8px 8px;
    }
    .modal-body.login .join{
        display: flex;
        flex-direction: column;
        align-items: center;
        .black{
            margin: 0;
        }
    }    
    .products .price a{
        text-align: center;
        font-weight: 600;
    }    
    .edit{
        display: inline-flex !important;
        align-items: center !important;
        line-height: 1 !important;
        top: 8px;
    }
    .edit-outer{
        padding-top: 0;
    }

    .fooh-table-clr{
        clear: both;
        margin: 0 -2px;
        .btn-yellow{
            width: calc(100% - 4px) !important;
            padding: 8px 8px;
            margin: 0 2px;
        }
    }
    .sort.inbox{
        .list{
            .box > :first-child{
                width: 10%;
            }
            .products .radius{
                width: 30%;           
            }
            .products .name{
                width: 60%;           
            }
        }
    } 
    .products .box{
        input[type="submit"]{
            font-size: 14px;
        }
    }
    .brdrb3{
        .tiksslider{
            margin-top: 16px;
        }
    }
    // cai
    #ctl27_divTradeLead{
        .tradelead-text{
            label{
                margin-top: 0px;
                margin-bottom: 5px;
            }
        }
    }
    #products-wrapper{
        &.content:not(.list), 
        &.content{
            .products{
                .box{
                    &:hover .hover{
                        display: none;
                    }
                    .price{
                        .price-show{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 620px){
    #divLogOut{
        display: block !important;
    }
    .JoinUs-Wrap{
        display:  block !important;
    }
    .edit{
        display: inline-flex !important;
        align-items: center !important;
        line-height: 1 !important;
    }
    .fooh-profile__tabs {
        overflow-x: auto;
        li a{
            font-size: 10px !important;
        }
    } 
    .footer .quick-links{
        & > li{
            width: calc(33% - 8px);
            margin-bottom: $spacer-4;
        }
    }
}

@media (max-width: 520px){
    #divLogOut{
        display: none !important;        
    }
    .browsecat {
        margin: 0 -2px;
        .catbox{
            width: calc(50% - 4px);
            margin: 0 2px;
        }
    }
    .edit{
        display: inline-flex !important;
        align-items: center !important;
        line-height: 1 !important;
    }
    .myacc {
        .company-logo{
            width: 100%;
            margin-right: 0;
            img{
                width: 60%;
            }
            .change.edit{
                right: 0;
                top: 28px;
            }
        }
    }
    .footer .quick-links{
        & > li{
            width: calc(50% - 8px);
            margin-bottom: $spacer-4;
        }
    }
}

@media (max-width: 365px){
    .notify{
        display: none;
    }
}