.fooh-transfail{
   &__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 16px 0;
   }
   &__title{
      font-size: 42px;
      font-weight: 700;
      color: $yellow;
   }
   &__img{
      height: 320px;
      margin-top: 24px;
   }
   &__desc{
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 32px;
   }
   .fooh-btn{
      min-width: 250px;
   }
}

@media (max-width: 768px) {
   .fooh-transfail{
      &__content{
         padding: 32px 0;
      }
      &__title{
         font-size: 28px;
      }
   }
}