$spacer-0: 0;
$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 16px;
$spacer-4: 24px;
$spacer-5: 32px;
$spacer-6: 40px;

$yellow: #fea72d;
$grey: #e8e8e8;
$black: #000;
$white: #fff;
$color-red: #D71920;
$color-brand-black: #231F20;
$yellow-2:#F9BA6D;
$yellow-3: #BB6D25;
$yellow-4: #BA462D;
$color-grey:#E5E5E5;
$color-grey-2: #929292;
$color-grey-3: #CECECE;
$color-grey-4: #F2F2F2;
$color-grey-5: #AAAAAA;


@mixin tablet-pro {
    @media (min-width: 1024px) and (max-width: 1199px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 600px) and (max-width: 1023.8px) {
        @content;
    }
}

@mixin mobile-tablet {
    @media (max-width: 1023.8px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin ie-fix {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

.fooh-admin{
    .btn-yellow{
        background: $yellow;

        color: $white;
        min-width: 150px !important;
        &:hover{
            background: #ffce00;
        }
        &--grn{
            background: #009000;
            color: $white;
            &:hover{
                background: #03d403;;
            }
        }
    }
    .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus{
        background-color: $yellow !important;
        color: $white !important;
    }
    #side-menu{
        .collapse.in{
            background-color: $yellow !important;
        }
    }
    .dxWeb_edtCheckBoxUnchecked_Moderno{
        background-image: url(http://fooh.strat-staging.com/DXR.axd?r=0_2775-VNRap);
    }
    .dxWeb_edtCheckBoxChecked_Moderno{
        background-image: url(http://fooh.strat-staging.com/DXR.axd?r=0_2775-VNRap);
    }
    #ctl00_ContentPlaceHolder1_ProductList_frame,
    #ctl00_ContentPlaceHolder1_MerchantList_frame{
        height: 900px;
    }
    
}

 .fooh-btn{
        cursor: pointer;
        padding: 8px 24px;
        border: none;
        color: #000;
        display: inline-flex;
        justify-content: center;
        background-color: #fea72d;
        align-items: center;
        transition: all .3s;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 4px;
         &:hover{
        font-size: 15px;
        font-weight: bold;
        background-color: #ffce00;
        }
        &--outlined{
            background-color: $white;
            color: $black;
            border: 1.5px solid $yellow;
        }
        &--transparent{
            background-color: transparent;
        }
    }

.fooh-view-ordrs{
    &__page-title{
        font-size: 20px;
        margin-bottom: $spacer-3;
    }
    &__adrs-card{
        border-top: 3px solid $yellow;
        border-radius: 5px;
        background-color: $grey;
        padding: $spacer-3;
        padding-left: $spacer-5;
    }
    &__st-detail{
        .fooh-view-ordrs__lbl, .fooh-view-ordrs__val{
            display: inline-block;
        }
        .fooh-view-ordrs__val{
            font-weight: 700;
        }    
    }
    .fooh-view-ordrs__adrss{
        display: flex;
        flex-wrap: wrap;
        margin-top: $spacer-5;
    }
    .fooh-delivery-adrs-card__bottom{
        width: 50%;
    }
    .fooh-delivery-adrs__name{
        font-size: 14px;
        margin-top: $spacer-2; 
        margin-bottom: 0;       
    }
    .fooh-cart-card__wrapper{
        width: 100%;
        &:last-child{
            .fooh-view-ordrs__progress-wrap{
                border: none;
            }
        }
    }

    &__products{
        border-top: 3px solid $yellow;
        border-radius: 5px;
        background-color: $grey;
        color: $black;
        padding: $spacer-2;
        margin-top: $spacer-6;
        .fooh-cart-card{
            margin-top: $spacer-0;
            border-color: transparent;
            padding: $spacer-3 $spacer-0 $spacer-0;
        }
        .fooh-cart-card__cnt_head{
            min-height: auto;
            font-weight: 500;
        }
        .fooh-cart-card__cnt_price, .fooh-cart-card__cnt_qty{
            color: $black;
            font-weight: normal;
            margin-top: 0;
        }
        .fooh-cart-card__img-container{
            height: auto;
        }
        .fooh-cart-card__cnt_total{
            font-weight: 400;
        }
        .fooh-cart-card__left{
            max-width: 100px;
        }
        .fooh-cart-card__cnt_right{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .fooh-cart-card__cnt_left{
            width: calc(90% + 100px);
        }
    }
    &__amnts{
        margin-top: $spacer-6;
        margin-bottom: $spacer-6;
    }
    &__amnt-row{
        display: flex;
        width: 50%;
        justify-content: space-between;
        font-weight: 500;
        margin-bottom: $spacer-3;
        margin-left: auto;
    }
    &__amnt-lbl{
        width: 64%;
    }
    &__amnt-val{
        flex: 1;
    }
    &__order-progress {
        width: 90%;
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        margin: 0 auto;
        &--active{
            max-height: 100vh;
        }
    }
    &__progress-bar {
        display: flex;
        justify-content: space-between;
    }
    &__circle {
        width: 25px;
        height: 25px;
        background-color: #333333;
        border-radius: 50%;
        min-width: 25px;
        position: relative;
        &.active {
            background-color: $yellow;
            .fooh-view-ordrs__status,
            .fooh-view-ordrs__date {
                color: $yellow;
            }
        }
    }
    &__line {
        width: 100%;
        height: 5px;
        background-color: #333333;
        &.active {
            background-color: $yellow;
        }
    }
    &__progress-wrap {
        display: flex;
        align-items: center;
        margin: 0 auto;
        list-style: none;
        border-bottom: 3px solid #fea72d;
        padding: 40px 32px 60px;
    }
    &__status {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
        color: $black;
    }
    &__date {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
        margin-bottom: 0;
    }
    &__day, &__time{
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
    }
    &__status,
    &__date
    {
        font-weight: 400;
    }
    &__back-to-order{
        display: flex;
        justify-content: flex-end;
        .fooh-btn{
            min-width: 220px;
            border: none;
            color: #000;
            display: inline-flex;
            justify-content: center;
            background-color: #fea72d;
            align-items: center;
            transition: all .3s;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
            border-radius: 4px;
            padding: 8px 24px;
            &:hover{
                font-size: 15px;
                font-weight: bold;
                background-color: #ffce00;
            }
        }
    }
}


@include tablet{
    .fooh-view-ordrs{
        &__products{
            .fooh-cart-card__cnt_right{
                flex-direction: column;
            }
        }
        &__amnt-row{
            width: 90%;
        }
    }
}

@include mobile {
    .fooh-view-ordrs{
        .fooh-view-ordrs__adrss{
            flex-direction: column;
        }
        .fooh-delivery-adrs-card__bottom{
            width: 100%;
            margin-bottom: $spacer-3;
        }
        &__products{
            .fooh-cart-card__cnt_left{
                width: 100%;
            }
        }
        .fooh-cart-card{
            padding-left: $spacer-0;
            padding-right: $spacer-0;
            flex-direction: row;
        }
        .fooh-cart-card__right{
            padding: $spacer-0;
        }
        &__order-progress {
            margin-bottom: 0;
        }
        &__progress-wrap{
            flex-direction: column;
            align-items: flex-start;
            padding: $spacer-3 $spacer-2;
        }
        &__line {
            height: 70px;
            width: 5px;
            background-color: #333333;
            transform: translateX(10px);
            &.active {
                background-color: $yellow;
            }
        }
        &__status {
            font-size: 14px;
            top: 5px;
            left: 40px;
            transform: translate(0);
            margin-bottom: 0;
        }
        &__date {
            font-size: 13px;
            opacity: .7;
            top: 30px;
            left: 40px;
            bottom: auto;
            transform: translate(0);
            text-align: left;
            margin-bottom: 0;
        }
        &__day,
        &__time{
            font-size: 13px;
            text-align: left;
        }
        &__amnt-row{
            width: 100%;
        }
    }
}

#ctl00_ContentPlaceHolder1_ProductBoostListing_GridEachOrder{
    border-radius: 5px;
    border-top: 3px solid $yellow;
    background-color: #efefef;
    padding: $spacer-5;
    margin: $spacer-4 0;
}

#ctl00_ContentPlaceHolder1_ProductBoostListing_GridEachOrder_DXMainTable.dxgvTable_Material{
    border-radius: 0px;
    box-shadow: none !important;
    border-color: $black !important;
}

#ctl00_ContentPlaceHolder1_ProductBoostListing_GridEachOrder_DXMainTable.dxgvTable_Material .dxgvHeader_Material{
    border-color: $black !important;
    background-color: #efefef !important;
}

#ctl00_ContentPlaceHolder1_ProductBoostListing_GridEachOrder_DXMainTable {
    & .dxgvDataRow_Material td.dxgv{
        border-color: $black !important;
        background-color: #efefef !important;
    }
    & .btn-update-sts{
        color: $white;   
        background-color: $yellow;
        padding: $spacer-1 $spacer-3;
        white-space: nowrap;
        border-radius: 5px;
        &:hover{
            text-decoration: none;
        }
    }

}
// 19-10-22
.fooh-border-inp {
    display: inline-block;
    border: 1px solid #e5e6e7;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 15px;
    min-width: 150px;
}
// 20-10-22
.fooh-man-prdt-info{
    display: flex;
    &__left{
        min-width: 300px;
        margin-right: $spacer-2;
    }
    .fooh-btn--new{
        padding: 8px 24px;
        border: none;
        color: #000;
        display: inline-flex;
        justify-content: center;
        background-color: #fea72d;
        align-items: center;
        transition: all .3s;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 4px;
        margin-left: auto;
        margin-bottom: $spacer-2;
    } 
}

.fooh-btn--back{
    margin-bottom: $spacer-2;
}
// 21-10-22
.fooh-dlt-fc-pop{
    border: none;
    box-shadow: none;
    border-top: 3px solid $yellow !important;
    border-radius: 5px ;
    .dxpc-header{
        font-size: 16px;
        font-weight: 500;
        color: $black;
        background: $white;
    }
    .dxpc-closeBtn{
        &:hover{
            background: $yellow;
            border: none;
        }
    }
    input[type="text"]{
        width: 100%;
        padding: $spacer-1 $spacer-2;
        margin-bottom: $spacer-3;
    }
} 

// 05-11-2022
.fooh-notification-order-wrapper{
    table,
    td{
        padding: 0 !important;
    }
    #ctl00_ContentPlaceHolder1_EnquiryList_CardViewProducts_DXMainTable{
        border: none !important;
    }
    .dxbplc{
        .dxcvBreakpointsCard_Moderno{
            margin: 0 !important;
            border: 0 !important;
            background-color: transparent;
        }
    }
}
// 02-11-22 notification
.fooh-notification-order{
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    border-top: 3px solid $yellow;
    &__left{
        width: 20%;
        max-width: 120px;
        margin-right: 20px;
    }
    &__img-container{
        max-width: 100%;
        height: 100%;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        overflow: hidden;
    }
    &__img{
        width: 100%;
        min-width: 120px;
        min-height: 124px;
    }
    &__right{
        flex: 1;
        &_top{
            width: 100%;
            padding: 20px 0;
        }
        &_bottom{
            text-align: end;
        }
    }
    &__cnt{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    // 03-11-2022
    &__date{
        font-weight: 500;
        font-size: 16px;
    }

    &__link{
        color: #1F1083;
        font-size: 16px;
        font-weight: bold;
        padding-right: 25px;
        position: relative;
        display: inline-block;
        &_arrow{
            display: inline-block;
            transition: all 0.2s ease-in-out;
        }
        &:hover{
            color: #1F1083;
            font-weight: bold;
            .fooh-notification-order__link_arrow{
                transform: translateX(5px);
            }
        }
    }

    &:hover{
        background-color: rgba(51, 51, 51, 0.1);
    }

}

@media (max-width: 668px){
    .fooh-notification-order{
        flex-direction: column;
        &__left{
            width: 100%;
            max-width: none;
        }
        &__right{
            padding: 10px;
        }
    }
}

.preheader-not{
    display: flex;
    align-items: baseline;
    color: $color-grey-4 !important;
    svg{
        height: 12px;
        width: 12px;
        margin-right: 5px;
    }
}

// 03-11-2022 -- admin notification load more
.fooh-notification__btn{
    &-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .fooh-btn{
            cursor: pointer;
            margin: 10px;
            &--load-more,&--load-less{
                display: none;
            }
        }
        .visible{
            display: inline-block !important;
        }
    }
}
// 04-11-2022
// fooh admin popup
.ibox{
    .ibox-content{
        .row{
            #ctl00_ContentPlaceHolder1_ProductBoostListing_popUpgrade_PW-1{
                width: 100% !important;
                max-width: 450px;
                z-index: 12000;
                visibility: visible;
                display: block !important;
                position: absolute;
                height: 0px;
                left: 30% !important;
                top: 50% !important;
                .dxpc-mainDiv.dxpc-shadow{
                    border-top: 3px solid #fea72d;
                    border-radius: 3px;
                }
                .fooh-btn.fooh-btn--outlined{
                    &:hover{
                        color: #ffffff;
                        .button-icon{
                            color: #ffffff;
                        }
                    }
                }
                .fooh-admin-manage-order-popup__btn-wrap{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
} 

@include tablet{
    .ibox{
        .ibox-content{
            .row{
                #ctl00_ContentPlaceHolder1_ProductBoostListing_popUpgrade_PW-1{
                    left: 20% !important;
                }
            }
         }
    }
}

@include mobile{
    .ibox{
        .ibox-content{
            .row{
                #ctl00_ContentPlaceHolder1_ProductBoostListing_popUpgrade_PW-1{
                    left: 0 !important;
                }
            }
         }
    }
}

// 08-11-22 notification pagination
.fooh-notification.pagination.center-block{
    display: flex !important;
    justify-content: center !important;
    li a, li span{
        float: none !important;
        border: none;
    }
    li span a{
        text-align: center;
        color: black;
        font-weight: 500;
    }
}

// 08-12-22 price table
.fooh-price-table.price-table{
    display: block;
    width: 100%;
    padding: 8px 16px;
    overflow-x: auto;
    & > li{
        border-bottom: none;
        float: none;
    }
    & > li > ul{
        display: flex;
        & > li{
            float: none;
            width: 18.75%;
            border-bottom: 1px solid rgb(255, 255, 255);
            min-width: 140px;
            &:first-child{
                width: 25%;
            }
        }
        .tick{
            width: 15px;
            height: 15px;
            background-size: contain;
            background-position: center;
        }
    }
}

@media (max-width: 768px){
.fooh-price-table.price-table{
    padding: 10px 0;
}
}

// 27-12-22 navbar top links
.navbar-top-links li#ctl00_chatControl_liUpgrade {
    margin-right: 40px; 
}

#ctl00_ContentPlaceHolder1_GridModerations .dxgvDataRow_Moderno td.dxgv{
    padding: 8px 4px;
}

#ctl00_ContentPlaceHolder1_pnlSupplier .notify{
    padding: 24px 0;
}

.py-16{
    padding-top: 16px;
    padding-bottom: 16px;
}
.px-16{
    padding-right: 16px;
    padding-left: 16px;
}

.fooh-admin .fooh-admin__action-crd{
    margin-top: 24px;
    a:first-child{
        color: rgb(0, 0, 0);
        display: block;
    }
    p.msg-count{
        display: block !important;
        background: #cd1f36;
        color: #fff;
        position: absolute;
        top: -7px;
        right: 40%;
        width: 16px;
        padding: 3px 0;
        border-radius: 50%;
        font-size: .75em;
    }
    .showmore{
        margin-top: 8px;
    }

}

.dxgvTable_Moderno{
    border: solid 1px #d1d1d1 !important;
}

.fooh-admin .view-btn{
    min-width: auto !important;
}

// subscription success
.fooh-subsuccess{
    width: 100%;
    min-height: 120vh;
    &__title{
        font-size: 35px;
        font-weight: bold;
        color: #fea72d;
        margin-bottom: 40px;
        text-align: center;
    }
    &__img-container{
        width: 100%;
        display: flex;
    }
    &__img{
        max-width: 550px;
        margin: 0 auto;
        display: block;
    }
    &__cnt{
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
        .fooh-btn{
            display: block;
            margin:  20px auto;
            max-width: 200px;
        }
    }
}

@include mobile{
    .fooh-subsuccess{
        &__title{
            font-size: 32px;
        }
        &__img{
            max-width: 100%;
        }
    }
}


// .fh-accup{
//     color: rgb(103, 106, 108);
//     background-color: rgb(255, 255, 255);
//     padding: 0 16px;
// }
// .fh-accup__actions{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 12px 0;
// }
// .fh-accup__action-l{
//     display: flex;
//     width: 50%;
//     justify-content: flex-end;
//     &--start{
//         justify-content: flex-start;
//     }
// }
// .fh-accup__package-lbl{
//     font-weight: 700;
//     margin-right: 32px;
//     margin-bottom: 0;
// }
// .fh-accup__package{
//     font-weight: 700;
//     margin-bottom: 0;
// }
// .fh-accup__upbtn{
//     display: inline-block;
//     font-size: 12px;
//     font-weight: 500;
//     padding: 6px 12px;
//     border: 2px solid rgb(255, 204, 0);
//     background-color: rgb(255, 204, 0);
//     color: rgb(255, 255, 255);
//     border-radius: 4px;
//     cursor: pointer;
// }
// .fh-accup__upbtn:hover{
//     background-color: rgb(255, 255, 255);
// }

// @media (max-width: 676px){
//     .fh-accup__actions{
//         flex-direction: column;
//         align-items: flex-start;
//     }
//     .fh-accup__action-l, 
//     .fh-accup__action-r{
//         margin-bottom: 18px;
//     }
// }

// .fh-accup__subsd-select{
//     width: 50%;
// }

// .fh-accup__pkg-select .dxeRadioButtonList_Moderno{
//     width: 50%;
// }

@media (min-width: 768px){
    .form-horizontal .control-label{
        padding-top: 0px;
    }
}
.fh-mngsplr__confirms-action{
    display: flex;
    align-items: center;
    margin: 0 -$spacer-2;
    .btn.btn-primary{
        margin: 0;
        width: 50%;
        margin: 0 $spacer-2 $spacer-2;
    }
}


.fh-select, select{
    appearance: none;
    position: relative;
    display: inline-block;
    border-radius: 4px;
    width: 100%;
    padding: 8px 16px;
    padding-right: 42px;

    background-image:
    linear-gradient(45deg, transparent 50%, hsl(0, 0%, 0%) 50%),
    linear-gradient(135deg, hsl(0, 0%, 0%) 50%, transparent 50%),
    linear-gradient(to right, transparent, transparent);
     background-position:
    calc(100% - 19px) calc(1em + 1px),
    calc(100% - 14px) calc(1em + 1px),
    100% 0;
    background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
    background-repeat: no-repeat;
}

.fh-radio{
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 20%);
    padding-bottom: 8px;
    margin-bottom: 8px;
    &:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }

    &__inp, 
    input[type="radio"]{
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        outline: none;
        box-shadow: hsl(0, 0%, 20%) 0px 0px 0px 1px inset;
        margin: 0 8px 0 0 !important;
        &:checked{
            border: none !important;
            background-color: hsl(35, 99%, 59%);
            box-shadow: inset hsl(0, 0%, 20%) 0px 0px 0px 1px, inset rgb(255, 255, 255) 0px 0px 0px 4px;
        }
    }
    &__lbl, 
    label{
        font-weight: 400;
        line-height: 1;
    }
}

.fh-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    background-color: hsl(35, 99%, 59%);
    padding: 8px 16px;
    border-radius: 4px;
    &:hover{
        font-weight: 700;
        background-color: hsl(48, 100%, 50%);
    }
}


.fh-accup{
    background-color: hsl(0, 0%, 97%);
    border-radius: 4px;
    padding: 24px;

    .fh-accup-details{
        display: flex;
        flex-wrap: wrap;
        background-color: hsl(0, 0%, 100%);
        border-top: 3px solid hsl(35, 99%, 59%);
        border-radius: 4px;
        padding: 16px 0;
        
        &__left, 
        &__right{
            width: calc(50% - 0.5px);
            padding: 0 24px;
        }
        &__septr{
            width: .5px;
            background-color: hsl(0, 0%, 0%);
        }
        &__left-row, 
        &__right-row{
            display: flex;
            align-items: flex-start;
            margin-bottom: 24px;
            &--actions{
                margin: 0 -4px 24px;
                .fh-button{
                    width: calc(100% - 8px);
                    margin: 0 4px;
                    padding: 8px 8px;
                }
            }
        }
        &__left-rhead, 
        &__left-rcont, 
        &__right-rhead, 
        &__right-rcont{
            width: 50%;
        }
        &__left-rhead,
        &__right-rhead{
            font-weight: 600;
        }
        &__radios{
            display: flex;
            flex-direction: column;
            border: 1px solid hsl(0, 0%, 20%);
            border-radius: 4px;
        }
    }

    .fh-accup-subdetails{
        &__head{
            font-size: 18px;
            font-weight: 700;
            margin-top: 32px;
            margin-bottom: 16px;
        }
        &__content{
            background-color: hsl(0, 0%, 100%);
            border-top: 3px solid hsl(35, 99%, 59%);
            border-radius: 4px;
            padding: 24px;
        }
        &__cards{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -8px;

        }
        &__card{
            width: calc(25% - 16px);
            margin: 0 8px;
            margin-bottom: 16px;
            border: 1px solid hsl(0, 0%, 20%);
            border-radius: 4px;
            text-align: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &--basic{
                background-color: #efefef;
            }
            &--silver{
                background-color: #cccccc;
            }
            &--gold{
                background-color: #ffcc00;
            }
            &--platinum{
                background-color: #ff9900;
            }
        }
        &__card-title{
            font-size: 24px;
            font-weight: 700;
            border-bottom: 1px solid hsl(0, 0%, 20%);
            padding: 8px;
        }
        &__card-body{
            padding: 24px 16px;
        }
        &__card-amt{
            font-weight: 500;
            padding-bottom: 32px;
        }
        &__card-benf{
            font-weight: 500;
            padding-bottom: 16px;
        }
    }
}

@media (max-width: 1024px){
    .fh-accup{
        .fh-accup-details{
            &__left, 
            &__right{
                width: 100%;
                padding: 0 8px;
            }
            &__septr{
                height: .5px;
                width: 100%;
                background-color: hsl(0, 0%, 0%);
                margin: 24px;
            }
        }
        .fh-accup-subdetails{
            &__card{
                width: calc(33.33% - 16px);
            }
        }
    }   
}

@media (max-width: 768px){
    .fh-accup{
        .fh-accup-details{
            &__left-row{
                flex-direction: column;
            }
            &__left-rhead, 
            &__left-rcont, 
            &__right-rhead, 
            &__right-rcont{
                width: 100%;
            }
        }
        .fh-accup-subdetails{
            &__card{
                width: calc(50% - 16px);
            }
        }
    }   
}

@media (max-width: 640px){
    .fh-accup{
        .fh-accup-subdetails{
            &__card{
                width: calc(100% - 16px);
            }
        }
    }   
}

.fh-popup-center{
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.float-e-margins .updateReview{
    margin-top: 12px;
}

.whitespace-nowrap{
    white-space: nowrap !important;
}