@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

.fooh-overflow {
    overflow: visible
}

.fooh .container {
    min-width: 0
}

    .fooh .container .contact .subhead {
        font-size: 16px !important
    }

    .fooh .container .banner-side .login-links {
        float: none !important;
        display: block !important
    }

    .fooh .container .filter-inside .panel {
        box-shadow: none;
        margin: 0
    }

    .fooh .container .nav-tabs > li > a, .fooh .container .nav-tabs > li > a:hover {
        background-color: #fea72d;
        color: #fff
    }

    .fooh .container .nav-tabs > li.active > a, .fooh .container .nav-tabs > li.active > a:focus, .fooh .container .nav-tabs > li.active > a:hover {
        background-color: #efefef;
        color: #000
    }

.fooh .info p.sub {
    padding-left: 0 !important
}

.fooh .list .alignb {
    bottom: 0px !important
}

    .fooh .list .alignb a {
        text-align: center !important
    }

.fooh [class^="dxeBase"] label {
    font-size: 10px
}

.fooh__flex {
    display: flex;
    justify-content: center
}

.fooh .sp-myorder {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23676767;stroke-miterlimit:10;%7D.cls-2%7Bfill:%23676767;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Emy%3C/title%3E%3Cpath class='cls-1' d='M21.53,3.92H24A3,3,0,0,1,26.91,7V26.69A3,3,0,0,1,24,29.79H8a3,3,0,0,1-2.91-3.1V7A3,3,0,0,1,8,3.92h2.85'/%3E%3Crect class='cls-2' x='12.6' y='2.13' width='7.38' height='2.78'/%3E%3Crect class='cls-2' x='10.04' y='11.85' width='12.42' height='1.39'/%3E%3Crect class='cls-2' x='10.04' y='16.52' width='12.42' height='1.39'/%3E%3Crect class='cls-2' x='10.04' y='21.19' width='12.42' height='1.39'/%3E%3C/svg%3E");
    width: 30px;
    height: 30px
}

    .fooh .sp-myorder:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-miterlimit:10;%7D.cls-2%7Bfill:%23000;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Emy%3C/title%3E%3Cpath class='cls-1' d='M21.53,3.92H24A3,3,0,0,1,26.91,7V26.69A3,3,0,0,1,24,29.79H8a3,3,0,0,1-2.91-3.1V7A3,3,0,0,1,8,3.92h2.85'/%3E%3Crect class='cls-2' x='12.6' y='2.13' width='7.38' height='2.78'/%3E%3Crect class='cls-2' x='10.04' y='11.85' width='12.42' height='1.39'/%3E%3Crect class='cls-2' x='10.04' y='16.52' width='12.42' height='1.39'/%3E%3Crect class='cls-2' x='10.04' y='21.19' width='12.42' height='1.39'/%3E%3C/svg%3E")
    }

.fooh .sp-cart-fooh {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2,.cls-3%7Bfill:none;stroke-miterlimit:10;%7D.cls-1,.cls-3%7Bstroke:%23676767;%7D.cls-1,.cls-2%7Bstroke-linecap:round;%7D.cls-2%7Bstroke:%23676767;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ecart%3C/title%3E%3Cpolyline class='cls-1' points='26.53 3.28 25.26 3.99 20.58 24.57 8.4 24.71'/%3E%3Cpolyline class='cls-2' points='24.15 8.51 5.53 8.6 7.57 19.34 21.52 19.43'/%3E%3Cellipse class='cls-3' cx='10.6' cy='28.08' rx='1.41' ry='1.47'/%3E%3Cellipse class='cls-3' cx='19.17' cy='28.08' rx='1.41' ry='1.47'/%3E%3C/svg%3E");
    width: 30px;
    height: 30px
}

    .fooh .sp-cart-fooh:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2,.cls-3%7Bfill:none;stroke-miterlimit:10;%7D.cls-1,.cls-3%7Bstroke:%23000;%7D.cls-1,.cls-2%7Bstroke-linecap:round;%7D.cls-2%7Bstroke:%23080705;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ecart%3C/title%3E%3Cpolyline class='cls-1' points='26.53 3.28 25.26 3.99 20.58 24.57 8.4 24.71'/%3E%3Cpolyline class='cls-2' points='24.15 8.51 5.53 8.6 7.57 19.34 21.52 19.43'/%3E%3Cellipse class='cls-3' cx='10.6' cy='28.08' rx='1.41' ry='1.47'/%3E%3Cellipse class='cls-3' cx='19.17' cy='28.08' rx='1.41' ry='1.47'/%3E%3C/svg%3E")
    }

.fooh .content .products .box {
    min-height: 470px
}

    .fooh .content .products .box .name .nameWrap {
        min-height: 50px;
        max-height: 50px
    }

    .fooh .content .products .box .price p {
        margin-bottom: 0
    }

.fooh .content.list .products .box.hover-wrap {
    min-height: 0px
}

.fooh .sort.inbox .products .box {
    min-height: 0px
}

.fooh .virtualhead {
    background: #fea72d;
    height: 160px
}

.fooh .virtualhead--trade {
    height: 196px
}

.fooh .header .logo img {
    max-width: 130px;
    margin: 15px 0 0
}

.fooh .header .logo svg {
    max-width: 130px;
    margin: 15px 0 0
}

.fooh .carousel-indicators {
    z-index: 1
}

.fooh .header .navbar-nav > li:first-child > a, .fooh .header .halal-menu .dropdown-menu {
    background: #009000;
    min-width: 160px;
    text-align: center;
    -webkit-border-top-right-radius: 0px !important;
    -moz-border-radius-top-right: 0px !important;
    border-top-right-radius: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    -moz-border-radius-top-left: 0px !important;
    border-top-left-radius: 0px !important
}

.fooh .container.brdrb3 .banner-side {
    background: #e8e8e8 !important
}

    .fooh .container.brdrb3 .banner-side .register {
        background: #e8e8e8 !important
    }

.fooh .header .dropdown-menu ul {
    height: 438px
}

.fooh #header .categories #ctl23_divlogoutstyle, .fooh #header .categories .fooh__trade-drop {
    display: block !important
}

.fooh #header.header-scroll .categories #ctl23_divlogoutstyle, .fooh #header.header-scroll .categories .fooh__trade-drop {
    display: none !important
}

.fooh #header.header-scroll .categories.open #ctl23_divlogoutstyle, .fooh #header.header-scroll .categories.open .fooh__trade-drop {
    display: block !important
}

.fooh #header.header-scroll .fooh__home-categ {
    pointer-events: visible !important
}

    .fooh #header.header-scroll .fooh__home-categ .caret {
        display: inline-block !important
    }

.fooh .header-scroll .header .navbar-nav > li:first-child > a, .fooh .header-scroll .header .halal-menu .dropdown-menu {
    background: none;
    text-align: left;
    padding: 7px !important;
    color: #333 !important
}

.fooh .header-scroll .header .navbar-nav > li > a {
    padding: 7px !important;
    color: #333 !important;
    font-weight: 300 !important
}

    .fooh .header-scroll .header .navbar-nav > li > a:hover {
        font-weight: 600 !important;
        background: none !important
    }

.fooh .header-scroll .header .navbar-nav {
    padding: 15px;
    display: block
}

.fooh .header-scroll .sp-zilzar-round-logo {
    background-image: none;
    width: 60px;
    height: auto
}

    .fooh .header-scroll .sp-zilzar-round-logo svg path {
        fill: #fea72d
    }

.fooh .header-scroll .fooh-nav-btn svg {
    width: 30px;
    height: auto;
    padding-left: 4px;
    margin-top: 4px
}

.fooh .header-scroll .fooh-nav {
    position: absolute;
    top: 56px;
    background: #efefef;
    width: 200px;
    border: 1px solid #666;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    left: -70px;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start
}

    .fooh .header-scroll .fooh-nav li, .fooh .header-scroll .fooh-nav a, .fooh .header-scroll .fooh-nav a:focus {
        color: #333 !important;
        font-size: 12px !important
    }

        .fooh .header-scroll .fooh-nav a:hover {
            font-weight: 600 !important;
            background: none !important
        }

    .fooh .header-scroll .fooh-nav li {
        padding: 0 0 16px 0
    }

    .fooh .header-scroll .fooh-nav .login .btn-group .fooh-btn {
        color: #fea72d
    }

    .fooh .header-scroll .fooh-nav svg path {
        fill: #fea72d
    }

.fooh .header-scroll .fooh__login-form {
    transform: translate(60%, -30%);
    right: 0%
}

    .fooh .header-scroll .fooh__login-form::before {
        content: none
    }

.fooh .header-scroll .header .navbar-toggle {
    z-index: 1
}

.fooh .header-scroll .login-scroll.floatHeadShow {
    display: none !important
}

.fooh .header-scroll .fh-my-profile__box {
    left: 0
}

.fooh .header .nav > .halal-menu > a:focus, .fooh .header .nav > .halal-menu > a:hover {
    background: #009000
}

.fooh .header .open.halal-menu .rb-curve {
    display: none
}

.fooh .header .navbar-nav > li > a {
    color: #fff
}

.fooh .search a i {
    background-color: #fea72d;
    width: 25px;
    height: 25px
}

.fooh .search .sp-search {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.94 12.88'%3E%3Cpath d='M8.76,9a.22.22,0,0,1-.15-.06l-.44-.44a.22.22,0,1,1,.31-.31l.44.44a.23.23,0,0,1,0,.31A.25.25,0,0,1,8.76,9Z'/%3E%3Cpath fill='%23fff' d='M4.93,9.86A4.93,4.93,0,1,1,9.86,4.93,4.93,4.93,0,0,1,4.93,9.86Zm0-9.42A4.49,4.49,0,1,0,9.42,4.93,4.49,4.49,0,0,0,4.93.44Z'/%3E%3Cpath fill='%23fff' d='M11.64,12.88h-.09L8,9.32,9.38,7.93l3.56,3.56v.09A1.3,1.3,0,0,1,11.64,12.88Zm-3-3.56,3.12,3.12a.86.86,0,0,0,.77-.77L9.38,8.55Z'/%3E%3C/svg%3E");
    background-size: 15px 15px;
    background-position: center
}

.fooh .btn-yellow {
    background: #fea72d;
    color: #fff;
    min-width: 150px !important
}

    .fooh .btn-yellow:hover {
        background: #ffce00
    }

.fooh .btn-yellow--grn {
    background: #009000;
    color: #fff
}

    .fooh .btn-yellow--grn:hover {
        background: #03d403
    }

.fooh .header .categories .btn-yellow, .fooh .categories .dropdown-menu, .fooh .search .input-group-addon {
    background: #e8e8e8;
    color: #000
}

.fooh .header-black .dropdown-menu li > span {
    font-size: .75em;
    color: #999;
    padding: 7px 10px 7px 5px;
    display: block
}

    .fooh .header-black .dropdown-menu li > span:hover {
        color: #fea72d;
        font-weight: 600
    }

.fooh .header-black .dropdown-menu li > a:hover, .fooh .header-black .dropdown-menu li > a:focus {
    color: #fea72d
}

.fooh .header .nav > li > a:focus, .fooh .header .nav > li > a:hover, .fooh .header .open.curved-menu > a, .fooh .header .open.curved-menu .rb-curve-support, .fooh .header .curved-menu .dropdown-menu {
    background: #fea72d
}

.fooh .scrollable::-webkit-scrollbar-track {
    background-color: #53595b;
    border: 1px solid #626467
}

.fooh .scrollable::-webkit-scrollbar {
    width: 6px;
    background-color: #53595b
}

.fooh .scrollable::-webkit-scrollbar-thumb {
    background-color: #fea72d
}

.fooh .header .open.curved-menu .rb-curve {
    background: transparent
}

.fooh .header .nav > li > .custom-care {
    font-weight: 700
}

.fooh .header .nav > li > .certif-body {
    border-right: 0;
    padding-right: 0
}

.fooh .header .curved-menu .dropdown-menu li a {
    color: #fff
}

.fooh .search-wrap .cart svg {
    width: 40px;
    height: auto;
    margin: 0 auto;
    display: block;
    transition: all .3s
}

    .fooh .search-wrap .cart svg:hover {
        transform: scale(1.1)
    }

.fooh .fooh-nav {
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
    align-items: center
}

    .fooh .fooh-nav li, .fooh .fooh-nav a, .fooh .fooh-nav a:focus {
        color: #fff;
        font-size: .938em
    }

    .fooh .fooh-nav li {
        padding: 0 16px
    }

    .fooh .fooh-nav a, .fooh .fooh-nav a:focus {
        padding: 0;
        display: inline-flex;
        align-items: center
    }

    .fooh .fooh-nav span {
        display: inline-flex;
        align-items: center
    }

    .fooh .fooh-nav svg {
        width: 16px;
        height: 16px;
        margin: 0 4px;
        transition: all .3s
    }

    .fooh .fooh-nav a:hover svg {
        transform: scale(1.1)
    }

    .fooh .fooh-nav .login {
        transition: all .3s;
        padding-right: 0
    }

        .fooh .fooh-nav .login a {
            font-weight: 700;
            border-right: 1px solid #ccc;
            padding-right: 8px
        }

            .fooh .fooh-nav .login a:last-child {
                border-right: 0;
                padding-right: 0
            }

        .fooh .fooh-nav .login .btn-group {
            display: inline-flex
        }

            .fooh .fooh-nav .login .btn-group .profile-icon {
                margin-left: 8px;
                width: 25px;
                height: 25px
            }

            .fooh .fooh-nav .login .btn-group .dropdown-menu {
                background: transparent;
                border: 0;
                box-shadow: none;
                width: 0 !important
            }

            .fooh .fooh-nav .login .btn-group .fooh-btn {
                background: none;
                border: 0;
                font-weight: 700 !important;
                border-right: 1px solid #ccc;
                padding: 0 8px 0 0;
                color: #fff;
                font-size: .938em;
                border-radius: 0;
                box-shadow: none !important
            }

                .fooh .fooh-nav .login .btn-group .fooh-btn:nth-child(2) {
                    border-right: 0;
                    padding-right: 0;
                    padding-left: 8px
                }

                .fooh .fooh-nav .login .btn-group .fooh-btn:hover {
                    font-weight: 700
                }

                .fooh .fooh-nav .login .btn-group .fooh-btn:focus, .fooh .fooh-nav .login .btn-group .fooh-btn:active {
                    box-shadow: none !important;
                    border: 0;
                    outline: 0
                }

.fooh .header .navbar-nav {
    padding: 0 0 30px;
    float: right;
    display: flex;
    align-items: baseline
}

.fooh .header .dropdown.halal-menu {
    max-width: 160px
}

.fooh .overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    transition: all .3s;
    z-index: 999;
    transition: all .3s
}

.fooh__login-form {
    background: #efefef;
    padding: 24px;
    position: relative;
    height: 450px;
    width: 300px;
    border-radius: 5px;
    z-index: 9999;
    top: 10px;
    transition: all .3s;
    text-align: center;
    transform: translate(-60%, 0%)
}

    .fooh__login-form h1 {
        font-size: 18px;
        color: #000
    }

    .fooh__login-form p {
        color: #000;
        padding: 8px 0;
        font-size: .75em
    }

    .fooh__login-form .forgot-psw {
        border: 0 !important;
        color: #000 !important;
        padding: 8px 0 !important;
        font-weight: 300 !important;
        font-size: .75em !important
    }

    .fooh__login-form .btn-yellow-login {
        outline: none;
        font-size: .938em;
        font-weight: 600 !important;
        color: #fff;
        width: 100%;
        background: #fea72d;
        border: 0 !important;
        -webkit-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        padding: 9px 20px !important;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 40px;
        transition: all .3s
    }

        .fooh__login-form .btn-yellow-login:hover {
            background: #ffce00
        }

    .fooh__login-form .btn-yellow-login--blk {
        background: none;
        border: 1px solid #000 !important;
        color: #000 !important
    }

    .fooh__login-form span {
        display: block !important;
        width: 100%;
        text-align: center
    }

    .fooh__login-form::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        background-color: #efefef;
        top: -6px;
        right: 25px;
        transform: rotate(45deg)
    }

.fooh__input-grp input {
    margin-bottom: 8px
}

    .fooh__input-grp input::placeholder {
        text-align: center
    }

.fooh__select {
    min-width: 160px;
    background: #009000;
    border-radius: 4px
}

    .fooh__select select {
        background: transparent;
        color: #fff;
        width: 100%;
        padding: 8px 16px;
        font-weight: 700;
        border: 0;
        text-align: center;
        border-radius: 4px;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.52 6.53'%3E%3Cpolygon fill='%23fff' points='9.52 0 4.76 6.53 0 0 9.52 0'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position-x: 85%;
        background-position-y: 50%;
        background-size: 10px 10px;
        cursor: pointer
    }

    .fooh__select option {
        background: #009000;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }

.fooh__select--footer {
    background: none;
    min-width: 75px;
    border-radius: 0
}

    .fooh__select--footer select {
        font-weight: 300;
        border-radius: 0;
        text-align: left;
        margin: 14px 0 5px;
        padding: 0 8px 0 4px;
        font-size: .688em;
        line-height: 1;
        border-right: 1px solid #666;
        background-position-x: 85%;
        background-position-y: 80%;
        background-size: 6px 6px;
        cursor: pointer
    }

    .fooh__select--footer option {
        background: #333
    }

.fooh .userlogin p a {
    font-size: 1em !important;
    text-decoration: underline !important
}

.fooh .myacc .subhead {
    font-size: 15px !important
}

.fooh .myacc.profile-font .profilepic.edit-outer p {
    font-size: 12px
}

.fooh .myacc.profile-font .edit-outer .dxeButtonEdit_Moderno td.dxic {
    padding: 0 !important
}

.fooh .myacc.profile-font .edit-outer input[type="text"].dxeEditArea_Moderno {
    margin: 0 !important
}

.fooh .myacc.profile-font .edit-outer .dxeButtonEdit_Moderno .dxeEditArea_Moderno {
    background-color: #fff !important
}

.fooh__homesec-img {
    min-height: 490px
}

@media (max-width: 1199px) {
    .fooh .fooh-nav li, .fooh .fooh-nav a, .fooh .fooh-nav a:focus {
        font-size: 0.75em
    }

    .fooh .header .logo img {
        max-width: 100px;
        margin: 20px 0 0
    }

    .fooh .header .logo svg {
        max-width: 100px;
        margin: 20px 0 0
    }

    .fooh__homesec-img {
        min-height: 440px
    }
}

@media (max-width: 991px) {
    .fooh .virtualhead {
        height: 225px
    }

    .fooh__homesec-img {
        min-height: 360px
    }
}

@media (max-width: 783.9px) {
    .fooh .virtualhead {
        height: 150px
    }

    .fooh .header .logo svg {
        margin: 8px 0
    }

        .fooh .header .logo svg path {
            fill: #fea72d
        }

    .fooh .header .navbar-nav > li:first-child > a, .fooh .header .halal-menu .dropdown-menu {
        background: none;
        border: none;
        text-align: left;
        padding: 7px;
        margin: 0
    }

    .fooh .header .nav > .halal-menu > a:focus, .fooh .header .nav > .halal-menu > a:hover {
        background: none
    }

    .fooh .header .nav > li > a:focus, .fooh .header .nav > li > a:hover, .fooh .header .open.curved-menu > a, .fooh .header .open.curved-menu .rb-curve-support, .fooh .header .curved-menu .dropdown-menu {
        background: none
    }

    .fooh .header .navbar-nav > li > a {
        padding: 7px !important;
        color: #333 !important
    }

    .fooh .header .nav > li > .custom-care {
        font-weight: 300
    }

    .fooh .fooh-nav {
        position: absolute;
        top: 56px;
        background: #efefef;
        width: 200px;
        border: 1px solid #666;
        padding: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        left: -70px;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-start
    }

        .fooh .fooh-nav li, .fooh .fooh-nav a, .fooh .fooh-nav a:focus {
            color: #333 !important;
            font-size: 12px !important
        }

        .fooh .fooh-nav li {
            padding: 0 0 16px 0
        }

        .fooh .fooh-nav .login .btn-group .fooh-btn {
            color: #fea72d
        }

        .fooh .fooh-nav svg path {
            fill: #fea72d
        }

    .fooh .fooh-nav-btn {
        background: #efefef !important;
        background-color: #efefef !important
    }

        .fooh .fooh-nav-btn svg {
            width: 30px;
            height: auto;
            padding-left: 4px;
            margin-top: 4px !important
        }
}

@media (max-width: 767px) {
    .fooh-overflow {
        overflow: hidden
    }

    .fooh .foohMenuNav {
        display: block
    }

    .fooh .foohMenuNav--hide {
        display: none !important
    }

    .fooh .header-scroll .header .navbar-nav {
        padding: 20px;
        padding-top: 105px
    }

    .fooh .header-scroll .signin {
        padding: 0;
        width: auto;
        right: 10px
    }

    .fooh .fooh-nav.nav {
        display: block !important;
        width: 100% !important;
        position: fixed !important;
        background: #efefef !important;
        flex-direction: column !important;
        z-index: 999 !important;
        align-items: baseline !important;
        left: 0px !important;
        height: 100% !important;
        justify-content: flex-start !important;
        border: 0 !important;
        border-radius: 0 !important;
        top: 0px !important;
        padding-top: 105px !important
    }

    .fooh .fooh-nav-btn {
        background: transparent !important;
        background-color: transparent !important;
        z-index: 99998 !important;
        margin-right: 10px !important
    }

        .fooh .fooh-nav-btn svg {
            width: 18px !important;
            height: auto;
            padding-left: 4px;
            margin-top: 8px !important
        }

    .fooh .fooh-nav li, .fooh .fooh-nav a, .fooh .fooh-nav a:focus {
        color: #333 !important;
        font-size: 12px !important
    }

    .fooh .fooh-nav li {
        padding: 0 0 16px 0
    }

    .fooh .fooh-nav .login .btn-group .fooh-btn {
        color: #fea72d
    }

    .fooh .fooh-nav svg path {
        fill: #fea72d
    }

    .fooh .header-scroll .navbar-collapse.in {
        width: 100% !important
    }

    .fooh__login-form {
        transform: translate(60%, -30%);
        right: 0%
    }

        .fooh__login-form::before {
            content: none
        }

    .fooh .header-scroll .header .navbar-toggle {
        z-index: 99999 !important
    }

    .fooh .profile > .col-xs-12 {
        padding-right: 0 !important
    }

    .fooh .content .products .box {
        min-height: auto !important
    }

    .fooh__homesec-img {
        min-height: auto
    }
}

@media (max-width: 600px) {
    .fooh__login-form {
        transform: translate(0%, -30%) !important;
        width: 280px !important
    }

    .fooh #header .notify .dropdown-menu {
        top: 94px !important
    }

    .fooh #header .notify div > a > span {
        margin: 5px 0 !important
    }

    .fooh #header .curved-menu .dropdown-toggle .caret {
        display: inline-block !important
    }

    .fooh #header .curved-menu .dropdown-menu {
        border: 0 !important
    }

        .fooh #header .curved-menu .dropdown-menu li a {
            color: #000 !important
        }

    .fooh .home-section h2 {
        font-size: 14px !important;
        text-align: left !important
    }

    .fooh .home-section .sec-head a {
        display: block !important;
        margin: 20px 0 !important
    }

    .fooh .filter-inside .sec td img {
        float: none !important
    }

    .fooh .content .products .box {
        min-height: auto !important
    }

        .fooh .content .products .box .country img {
            width: 50px !important
        }

    .fooh .cart-item {
        border-bottom: none !important
    }
}

.fooh-pro-slider__tile {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #E8E8E8
}

    .fooh-pro-slider__tile.slick-slide {
        display: flex
    }

.fooh-pro-slider__sub-tile {
    padding: 24px 8px;
    border-top: 0px solid #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none
}

    .fooh-pro-slider__sub-tile:last-child {
        border-top: 1px solid #E8E8E8
    }

    .fooh-pro-slider__sub-tile:hover {
        box-shadow: rgba(50,50,93,0.25) 0px 6px 12px -2px,rgba(0,0,0,0.3) 0px 3px 7px -3px
    }

.fooh-pro-slider__sub-icon {
    width: 50px;
    height: auto;
    margin-bottom: 12px
}

.fooh-pro-slider__sub-text {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    text-align: center;
    min-height: 35px
}

.fooh-pro-slider .slick-track {
    margin: 24px 0;
    display: flex
}

.fooh-pro-slider .slick-next, .fooh-pro-slider .slick-prev {
    width: 30px;
    height: 30px;
    z-index: 3;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    box-shadow: rgba(50,50,93,0.25) 0px 6px 12px -2px,rgba(0,0,0,0.3) 0px 3px 7px -3px
}

    .fooh-pro-slider .slick-next::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.69 9.27'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23626467;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EAsset 6%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M0,7.87l5.45-3L0,1.38V0L6.69,4.44v.91L0,9.27Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 6px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(-50%, -50%)
    }

    .fooh-pro-slider .slick-prev::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.69 9.27'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23626467;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EAsset 5%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M6.69,9.27,0,5.35V4.44L6.69,0V1.38L1.24,4.84l5.45,3Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 6px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(-50%, -50%)
    }

@media (max-width: 768px) {
    .fooh-pro-slider .slick-next {
        right: 5px
    }

    .fooh-pro-slider .slick-prev {
        left: 5px
    }
}

.fooh-footer-nl {
    margin-top: 20px;
    margin-bottom: 8px;
    display: inline-block;
    width: 100%
}

.fooh-footer-nl__text {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase
}

.fooh-footer-nl__sub {
    margin: 8px 0px
}

.fooh-footer-nl__sub-input {
    width: 100%;
    padding: 6px 16px;
    border-radius: 10px;
    min-height: 40px;
    margin-bottom: 12px;
    color: #333;
    font-size: 12px
}

.fooh-footer-nl .btn.btn-yellow {
    color: #000
}

    .fooh-footer-nl .btn.btn-yellow:hover {
        color: #000
    }

.fooh-footer-logo {
    width: 100px;
    height: auto
}

.fooh-footer-social-logo img {
    width: 25px;
    height: auto
}

.fh-my-profile {
    position: relative;
    z-index: 10;
    cursor: pointer
}

.fh-my-profile__box {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 150px;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1000ms ease;
    transform-origin: center;
    box-shadow: rgba(0,0,0,0.05) 0px 1px 2px 0px
}

.fh-my-profile__box--visible {
    max-height: 100vh;
    opacity: 1;
    visibility: visible
}

.fh-my-profile__inner {
    text-align: center;
    padding: 10px 16px
}

.fh-my-profile__title {
    background: #e8e8e8;
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: all 0.3s;
    color: #000
}

    .fh-my-profile__title:hover {
        font-weight: 500 !important
    }

.fh-my-profile__logout {
    background: #ffea00;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 8px 16px;
    margin-top: 8px;
    transition: all 0.3s;
    color: #000
}

    .fh-my-profile__logout:hover {
        font-weight: 500 !important
    }

.fooh-admin .btn-yellow {
    background: #fea72d;
    color: #fff;
    min-width: 150px !important
}

    .fooh-admin .btn-yellow:hover {
        background: #ffce00
    }

.fooh-admin .btn-yellow--grn {
    background: #009000;
    color: #fff
}

    .fooh-admin .btn-yellow--grn:hover {
        background: #03d403
    }

.fooh-admin .navbar-default .nav > li > a:hover, .fooh-admin .navbar-default .nav > li > a:focus {
    background-color: #fea72d !important;
    color: #fff !important
}

.fooh-admin #side-menu .collapse.in {
    background-color: #fea72d !important
}

.fooh-admin .dxWeb_edtCheckBoxUnchecked_Moderno {
    background-image: url(http://fooh.strat-staging.com/DXR.axd?r=0_2775-VNRap)
}

.fooh-admin .dxWeb_edtCheckBoxChecked_Moderno {
    background-image: url(http://fooh.strat-staging.com/DXR.axd?r=0_2775-VNRap)
}

.fooh-admin #ctl00_ContentPlaceHolder1_ProductList_frame, .fooh-admin #ctl00_ContentPlaceHolder1_MerchantList_frame {
    height: 900px
}

.fooh-login {
    padding: 40px 24px;
    background-color: #fff
}

.fooh-login--reg {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 0
}

.fooh-login__head {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
    color: #000;
    font-weight: 700
}

.fooh-login__inner {
    display: flex
}

.fooh-login__inner--reg {
    flex-wrap: wrap
}

    .fooh-login__inner--reg .fooh-login__wrap {
        width: 50%;
        padding-right: 24px
    }

        .fooh-login__inner--reg .fooh-login__wrap:last-child {
            padding-right: 0
        }

.fooh-login__left-sec {
    width: 50%;
    position: relative;
    padding-right: 60px
}

.fooh-login__left-sec--signup {
    display: flex
}

    .fooh-login__left-sec--signup .fooh-login__btn-outer {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100%
    }

.fooh-login__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px
}

.fooh-login__name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px
}

.fooh-login__label {
    color: #000;
    font-size: 14px;
    font-weight: normal
}

.fooh-login__input-txt {
    position: relative
}

    .fooh-login__input-txt input {
        border: 1px solid #000;
        padding: 8px 16px;
        border-radius: 5px;
        width: 100%;
        outline: none
    }

.fooh-login__forgot {
    font-size: 14px;
    line-height: 18px;
    color: #fea72d;
    text-decoration: none
}

    .fooh-login__forgot:hover {
        color: #fea72d;
        text-decoration: underline
    }

.fooh-login__mid-sec {
    position: relative;
    width: 1px;
    background-color: #000
}

    .fooh-login__mid-sec span {
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        background-color: #fff;
        display: inline-block;
        padding: 5px
    }

.fooh-login__btn-outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start
}

.fooh-login__btn {
    padding: 8px 24px;
    border: none;
    color: #000;
    display: inline-flex;
    justify-content: center;
    background-color: #fea72d;
    align-items: center;
    transition: all .3s;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px
}

    .fooh-login__btn:hover {
        font-weight: bold;
        background: #ffce00;
        color: #000
    }

.fooh-login__btn--white {
    color: #fff;
    width: 100%
}

    .fooh-login__btn--white:hover {
        color: #fff
    }

.fooh-login__right-sec {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    width: 50%
}

.fooh-login__right-head {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    color: #000;
    text-align: center
}

.fooh-login__share-btn {
    width: 100%;
    color: #fff;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3B5999;
    margin-bottom: 24px;
    transition: all .3s;
    border: 1px solid #3B5999;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold
}

    .fooh-login__share-btn:hover {
        color: #3B5999;
        background-color: #fff;
        font-weight: bold
    }

        .fooh-login__share-btn:hover .fooh-login__icon path {
            fill: #3B5999
        }

.fooh-login__icon {
    width: 20px;
    height: 20px;
    margin-right: 24px
}

    .fooh-login__icon path {
        fill: #fff
    }

.fooh-login--btn-red {
    background-color: #DE4B39;
    border: 1px solid #DE4B39
}

    .fooh-login--btn-red:hover {
        color: #DE4B39
    }

        .fooh-login--btn-red:hover .fooh-login__icon path {
            fill: #DE4B39
        }

.fooh-login__btn-txt {
    min-width: 150px;
    display: inline-block
}

.fooh-login__new-account {
    color: #000;
    text-align: center
}

.fooh-login__orange {
    color: #fea72d;
    text-decoration: none
}

    .fooh-login__orange:hover {
        color: #fea72d;
        text-decoration: underline
    }

.fooh-login__btn-outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start
}

.fooh-login__left-btn-outer {
    display: flex;
    flex-direction: column
}

    .fooh-login__left-btn-outer .fooh-login__btn {
        margin-bottom: 24px
    }

        .fooh-login__left-btn-outer .fooh-login__btn:last-child {
            margin-bottom: 0px
        }

.fooh-login--signup .fooh-login__right-sec, .fooh-login--signup .fooh-login__left-sec {
    max-width: 530px;
    margin: 0 auto;
    padding: 0px 60px
}

.fooh-login--signup .fooh-login__inner {
    margin-bottom: 24px
}

.fooh-login__checkbox-outer {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px
}

    .fooh-login__checkbox-outer input[type=checkbox] {
        display: none
    }

        .fooh-login__checkbox-outer input[type=checkbox] + label {
            position: relative;
            margin-left: 30px;
            cursor: pointer;
            margin-bottom: 0px;
            font-weight: normal
        }

            .fooh-login__checkbox-outer input[type=checkbox] + label::before {
                content: "";
                width: 20px;
                height: 20px;
                border: 1px solid #000;
                position: absolute;
                left: -30px;
                top: 0px
            }

        .fooh-login__checkbox-outer input[type=checkbox]:checked + label::after {
            content: "";
            position: absolute;
            left: -22px;
            top: 3px;
            width: 5px;
            height: 12px;
            border: solid #fea72d;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg)
        }

@media (min-width: 1024px) and (max-width: 1199px) {
    .fooh-login__right-head {
        min-height: 50px
    }
}

@media (min-width: 600px) and (max-width: 1023.8px) {
    .fooh-login__left-sec, .fooh-login__right-sec {
        width: 50%
    }

    .fooh-login__left-sec {
        padding-right: 32px
    }

    .fooh-login__right-sec {
        padding-left: 32px;
        padding-right: 0px
    }
}

@media (max-width: 1023.8px) {
    .fooh-login__btn-txt, .fooh-login__left-btn-outer {
        font-size: 14px;
        line-height: 18px
    }

    .fooh-login__right-head {
        font-size: 16px;
        line-height: 20px;
        min-height: 50px
    }

    .fooh-login--signup .fooh-login__right-sec, .fooh-login--signup .fooh-login__left-sec {
        padding: 0px 32px
    }
}

@media (max-width: 600px) {
    .fooh-login__inner {
        flex-direction: column
    }

    .fooh-login__left-sec, .fooh-login__right-sec {
        width: 100%
    }

    .fooh-login__left-sec {
        padding-right: 0px;
        padding-bottom: 24px;
        border-right: none;
        border-bottom: 1px solid #000
    }

    .fooh-login__right-sec {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 24px
    }

    .fooh-login__mid-sec {
        width: 100%
    }

    .fooh-login__btn-txt {
        min-width: auto
    }

    .fooh-login__icon {
        margin-right: 16px
    }

    .fooh-login__right-head {
        min-height: auto
    }

    .fooh-login--signup .fooh-login__right-sec {
        padding: 24px 0px 0px
    }

    .fooh-login--signup .fooh-login__left-sec {
        padding: 0px 0px 24px
    }

    .fooh-login__new-account a {
        display: block
    }
}

.fooh-reg {
    max-width: 700px;
    margin: 24px 0px
}

.fooh-reg__head {
    font-size: 24px;
    margin-bottom: 24px;
    color: #000;
    font-weight: bold
}

.fooh-reg__head--reg {
    text-align: center
}

.fooh-reg__sub-head {
    font-size: 16px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold
}

.fooh-reg__adrs {
    background-color: #e5e5e5;
    margin-bottom: 24px;
    border-radius: 5px;
    padding: 16px 16px 24px
}

    .fooh-reg__adrs .fooh-input__wrap--dob {
        margin-bottom: 0
    }

.fooh-reg__input-wrap {
    display: flex;
    flex-wrap: wrap
}

    .fooh-reg__input-wrap .fooh-input__wrap {
        width: 50%;
        padding-right: 24px
    }

        .fooh-reg__input-wrap .fooh-input__wrap:last-child {
            padding-right: 0px
        }

.fooh-reg__input-wrap--adrs .fooh-input__wrap {
    width: 33.33%
}

.fooh-reg .fooh-check__checkbox-outer {
    margin-bottom: 16px
}

.fooh-reg .fooh-dropdown {
    margin-bottom: 32px
}

.fooh-reg .fooh-btn__secondary {
    width: 100%
}

.fooh-reg__bold-head {
    color: black;
    margin-bottom: 24px
}

.fooh-reg__gender {
    display: flex
}

.fooh-reg__checkbox-outer {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px
}

    .fooh-reg__checkbox-outer label a {
        color: #000;
        text-decoration: none
    }

        .fooh-reg__checkbox-outer label a:hover {
            color: #fea72d;
            text-decoration: underline
        }

    .fooh-reg__checkbox-outer input[type=checkbox] {
        display: none
    }

        .fooh-reg__checkbox-outer input[type=checkbox] + label {
            position: relative;
            margin-left: 30px;
            cursor: pointer;
            margin-bottom: 0px;
            font-weight: normal
        }

            .fooh-reg__checkbox-outer input[type=checkbox] + label::before {
                content: "";
                width: 20px;
                height: 20px;
                border: 1px solid #000;
                position: absolute;
                left: -30px;
                top: 0px
            }

        .fooh-reg__checkbox-outer input[type=checkbox]:checked + label::after {
            content: "";
            position: absolute;
            left: -22px;
            top: 3px;
            width: 5px;
            height: 12px;
            border: solid #fea72d;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg)
        }

@media (max-width: 768px) {
    .fooh-reg__input-wrap {
        flex-direction: column;
        margin-bottom: 16px
    }

        .fooh-reg__input-wrap .fooh-input__wrap {
            width: 100%;
            padding-right: 0px
        }

    .fooh-reg__head {
        font-size: 18px;
        line-height: 24px
    }

    .fooh-reg__bold-head {
        margin-bottom: 16px
    }

    .fooh-reg__adrs {
        padding-bottom: 16px
    }
}

.fooh-input__label {
    color: #000;
    font-size: 14px;
    font-weight: normal
}

.fooh-input__input-txt {
    position: relative
}

    .fooh-input__input-txt .dxeButtonEdit_Moderno {
        border: 1px solid #000 !important;
        border-radius: 5px !important
    }

        .fooh-input__input-txt .dxeButtonEdit_Moderno td.dxic {
            padding: 8px 12px !important
        }

    .fooh-input__input-txt input {
        border: 1px solid #000;
        padding: 8px 12px;
        border-radius: 5px;
        width: 100%
    }

        .fooh-input__input-txt input::placeholder {
            color: #000
        }

.fooh-input__input-txt--file-up {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px
}

    .fooh-input__input-txt--file-up .file-select {
        display: block;
        border: 1px solid #000;
        color: #000;
        cursor: pointer;
        height: 41px;
        text-align: left;
        background: #ffffff;
        overflow: hidden;
        border-radius: 5px
    }

    .fooh-input__input-txt--file-up .file-select__name {
        line-height: 40px;
        display: inline-block;
        padding: 0 10px;
        width: 75%
    }

    .fooh-input__input-txt--file-up .file-select__button {
        background: #333333;
        color: #fff;
        text-align: center;
        padding: 0 10px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        width: calc(25% - 5px);
        border-radius: 5px;
        position: absolute;
        right: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .fooh-input__input-txt--file-up .file-upload .file-select input[type="file"] {
        z-index: 100;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0)
    }

    .fooh-input__input-txt--file-up .file-upload .file-select.file-select-disabled {
        opacity: 0.65
    }

.fooh-input__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px
}

    .fooh-input__wrap:last-child {
        margin-bottom: 0px
    }

.fooh-input__wrap--radio {
    flex-direction: row
}

.fooh-input__wrap--dob {
    width: 30% !important
}

.fooh-input__wrap--email {
    width: 70% !important
}

.fooh-input__name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px
}

.fooh-input__forgot {
    font-size: 14px;
    line-height: 18px;
    color: green
}

    .fooh-input__forgot:hover {
        color: green;
        text-decoration: underline
    }

.fooh-input__desc {
    margin-top: 8px;
    font-size: 14px;
    line-height: 16px;
    color: #D0342C;
    font-weight: bold
}

.fooh-input__eye-icon {
    width: 16px;
    height: 17px
}

.fooh-input__input-password {
    position: absolute;
    right: 10px;
    top: 12px;
    width: 20px;
    height: 20px
}

.fooh-input__text-area {
    height: 120px;
    display: block;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #000;
    padding: 10px 16px;
    width: 100%;
    min-width: 200px;
    color: #000000;
    border-radius: 5px
}

.fooh-input__radio {
    margin-right: 24px
}

    .fooh-input__radio:last-child {
        margin-bottom: 0
    }

    .fooh-input__radio [type="radio"]:checked, .fooh-input__radio [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px
    }

        .fooh-input__radio [type="radio"]:checked + label, .fooh-input__radio [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 24px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #000;
            padding-right: 8px
        }

            .fooh-input__radio [type="radio"]:checked + label:before, .fooh-input__radio [type="radio"]:not(:checked) + label:before {
                content: "";
                position: absolute;
                left: 0;
                top: 1px;
                width: 18px;
                height: 18px;
                border: 2px solid #000;
                border-radius: 100%;
                background: #fff
            }

            .fooh-input__radio [type="radio"]:checked + label:after, .fooh-input__radio [type="radio"]:not(:checked) + label:after {
                content: "";
                width: 14px;
                height: 14px;
                background: #fea72d;
                position: absolute;
                top: 3px;
                left: 2px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease
            }

            .fooh-input__radio [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0)
            }

            .fooh-input__radio [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1)
            }

.fooh-primary-btn {
    display: inline-flex;
    background-color: #eda900;
    border-radius: 4px;
    min-width: 120px;
    color: #000;
    transition: all .3s;
    justify-content: center;
    cursor: pointer;
    padding: 4px 20px 8px 20px;
    font-weight: bold
}

    .fooh-primary-btn:hover {
        font-weight: bold;
        background: #ffce00;
        color: #000
    }

@media (max-width: 768px) {
    .fooh-input__wrap--dob {
        width: 100% !important
    }

    .fooh-input__wrap--email {
        width: 100% !important
    }
}

.fooh-tnk {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0
}

.fooh-tnk__left {
    width: 50%
}

.fooh-tnk__img {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    display: block
}

.fooh-tnk__right {
    width: 50%;
    padding: 10px;
    color: #000000
}

.fooh-tnk__title {
    font-size: 45px;
    font-weight: bold;
    color: inherit;
    margin-bottom: 20px
}

.fooh-tnk__text {
    font-size: 18px;
    color: inherit;
    font-weight: normal;
    margin-bottom: 16px
}

.fooh-tnk__btn {
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #fea72d;
    transition: all .3s;
    display: inline-block;
    color: #000000
}

    .fooh-tnk__btn:hover {
        background: #ffce00;
        color: #000
    }

.fooh-tnk__email {
    font-weight: bold;
    color: #000;
    margin-bottom: 16px
}

@media (max-width: 600px) {
    .fooh-tnk {
        flex-direction: column;
        padding: 20px 0
    }

    .fooh-tnk__left {
        width: 100%
    }

    .fooh-tnk__right {
        width: 100%;
        text-align: center
    }

    .fooh-tnk__title {
        font-size: 34px
    }

    .fooh-tnk__img {
        max-width: unset
    }
}

#ctl30_pcNewsletterAlert_PW-1 {
    padding: 35px 20px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    outline: 0;
    width: 767px !important
}

    #ctl30_pcNewsletterAlert_PW-1 .dxpc-header {
        background: #fff
    }

        #ctl30_pcNewsletterAlert_PW-1 .dxpc-header .dxpc-closeBtn {
            position: absolute;
            right: 20px;
            top: 24px
        }

    #ctl30_pcNewsletterAlert_PW-1 .dxpc-contentWrapper {
        min-height: 150px
    }

.dxpcModalBackLite_Moderno {
    background-color: rgba(0,0,0,0.8);
    color: black;
    opacity: 1
}

@media (max-width: 767px) {
    #ctl30_pcNewsletterAlert_PW-1 {
        padding: 35px 5px;
        width: 100% !important
    }
}

.fooh-view-ordrs__page-title {
  font-size: 20px;
  margin-bottom: 16px; }
.fooh-view-ordrs__adrs-card {
  border-top: 3px solid #fea72d;
  border-radius: 5px;
  background-color: #e8e8e8;
  padding: 16px;
  padding-left: 32px; }
.fooh-view-ordrs__st-detail .fooh-view-ordrs__lbl, .fooh-view-ordrs__st-detail .fooh-view-ordrs__val {
  display: inline-block; }
.fooh-view-ordrs__st-detail .fooh-view-ordrs__val {
  font-weight: 700; }
.fooh-view-ordrs .fooh-view-ordrs__adrss {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px; }
.fooh-view-ordrs .fooh-delivery-adrs-card__bottom {
  width: 50%; }
.fooh-view-ordrs .fooh-delivery-adrs__name {
  font-size: 14px;
  margin-top: 8px; }
.fooh-view-ordrs .fooh-cart-card__wrapper {
  width: 100%; }
  .fooh-view-ordrs .fooh-cart-card__wrapper:last-child .fooh-view-ordrs__progress-wrap {
    border: none; }
.fooh-view-ordrs .fooh-btn {
  cursor: pointer; }
.fooh-view-ordrs__products {
  border-top: 3px solid #fea72d;
  border-radius: 5px;
  background-color: #e8e8e8;
  color: #000;
  padding: 8px;
  margin-top: 40px; }
  .fooh-view-ordrs__products .fooh-cart-card {
    margin-top: 0;
    border-color: transparent;
    padding: 16px 0 0; }
  .fooh-view-ordrs__products .fooh-cart-card__cnt_head {
    min-height: auto;
    font-weight: 500; }
  .fooh-view-ordrs__products .fooh-cart-card__cnt_price, .fooh-view-ordrs__products .fooh-cart-card__cnt_qty {
    color: #000;
    font-weight: normal;
    margin-top: 0; }
  .fooh-view-ordrs__products .fooh-cart-card__img-container {
    height: auto; }
  .fooh-view-ordrs__products .fooh-cart-card__cnt_total {
    font-weight: 400; }
  .fooh-view-ordrs__products .fooh-cart-card__left {
    max-width: 100px; }
  .fooh-view-ordrs__products .fooh-cart-card__cnt_right {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .fooh-view-ordrs__products .fooh-cart-card__cnt_left {
    width: calc(90% + 100px); }
.fooh-view-ordrs__amnts {
  margin-top: 40px;
  margin-bottom: 40px; }
.fooh-view-ordrs__amnt-row {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 16px; }
.fooh-view-ordrs__amnt-lbl {
  width: 70%; }
.fooh-view-ordrs__amnt-val {
  width: 30%; }
.fooh-view-ordrs__order-progress {
  width: 90%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  margin: 0 auto; }
  .fooh-view-ordrs__order-progress--active {
    max-height: 100vh; }
.fooh-view-ordrs__progress-bar {
  display: flex;
  justify-content: space-between; }
.fooh-view-ordrs__circle {
  width: 25px;
  height: 25px;
  background-color: #333333;
  border-radius: 50%;
  min-width: 25px;
  position: relative; }
  .fooh-view-ordrs__circle.active {
    background-color: #fea72d; }
    .fooh-view-ordrs__circle.active .fooh-view-ordrs__status,
    .fooh-view-ordrs__circle.active .fooh-view-ordrs__date {
      color: #fea72d; }
.fooh-view-ordrs__line {
  width: 100%;
  height: 5px;
  background-color: #333333; }
  .fooh-view-ordrs__line.active {
    background-color: #fea72d; }
.fooh-view-ordrs__progress-wrap {
  display: flex;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  border-bottom: 3px solid #fea72d;
  padding: 40px 32px 60px; }
.fooh-view-ordrs__status {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: #000; }
.fooh-view-ordrs__date {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  margin-bottom: 0; }
.fooh-view-ordrs__day, .fooh-view-ordrs__time {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0; }
.fooh-view-ordrs__status, .fooh-view-ordrs__date {
  font-weight: 400; }
.fooh-view-ordrs__back-to-order {
  display: flex;
  justify-content: flex-end; }
  .fooh-view-ordrs__back-to-order .fooh-btn {
    min-width: 220px;
    border: none;
    color: #000;
    display: inline-flex;
    justify-content: center;
    background-color: #fea72d;
    align-items: center;
    transition: all .3s;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px 24px; }
    .fooh-view-ordrs__back-to-order .fooh-btn:hover {
      font-size: 15px;
      font-weight: bold;
      background-color: #ffce00; }

@media (min-width: 600px) and (max-width: 1023.8px) {
  .fooh-view-ordrs__products .fooh-cart-card__cnt_right {
    flex-direction: column; } }
@media (max-width: 600px) {
  .fooh-view-ordrs .fooh-view-ordrs__adrss {
    flex-direction: column; }
  .fooh-view-ordrs .fooh-delivery-adrs-card__bottom {
    width: 100%;
    margin-bottom: 16px; }
  .fooh-view-ordrs__products .fooh-cart-card__cnt_left {
    width: 100%; }
  .fooh-view-ordrs .fooh-cart-card {
    padding-left: 0;
    padding-right: 0;
    flex-direction: row; }
  .fooh-view-ordrs .fooh-cart-card__right {
    padding: 0; }
  .fooh-view-ordrs__order-progress {
    margin-bottom: 0; }
  .fooh-view-ordrs__progress-wrap {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 8px; }
  .fooh-view-ordrs__line {
    height: 70px;
    width: 5px;
    background-color: #333333;
    transform: translateX(10px); }
    .fooh-view-ordrs__line.active {
      background-color: #fea72d; }
  .fooh-view-ordrs__status {
    font-size: 14px;
    top: 5px;
    left: 40px;
    transform: translate(0);
    margin-bottom: 0; }
  .fooh-view-ordrs__date {
    font-size: 13px;
    opacity: .7;
    top: 30px;
    left: 40px;
    bottom: auto;
    transform: translate(0);
    text-align: left;
    margin-bottom: 0; }
  .fooh-view-ordrs__day, .fooh-view-ordrs__time {
    font-size: 13px;
    text-align: left; } }


/*# sourceMappingURL=fooh-style.css.map */
