.fooh-car-summary{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: #EFEFEF;
    margin-top: 20px;
    &__head{
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        border-bottom: 2px solid #EC9700;
    }
    &__cnt{
        width: 100%;
        &_top{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 0;
        }
        &_text{
            font-size: 16px;
            font-weight: 600;
        }
        &_price{
            font-size: 16px;
            font-weight: 700;
        }

        &_bottom{
            width: 100%;
            text-align: center;
        }
    }
}